name: "password-manager"

services:
  backend:
    build: ./
    command: >
      bash -c "python manage.py migrate &&
               (python manage.py createsuperuser --noinput || true) &&
               python manage.py runserver 0.0.0.0:8000"
    environment:
      - DJANGO_SECRET_KEY
      - DJANGO_DEBUG
      - DJANGO_SUPERUSER_USERNAME
      - DJANGO_SUPERUSER_EMAIL
      - DJANGO_SUPERUSER_PASSWORD
      - CRYPTOGRAPHY_KEY
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_HOST
      - POSTGRES_PORT
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  postgres:
    image: postgres:17.6-alpine3.22
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/


volumes:
  postgres_data:
